#about {
  padding: 5rem 10rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
}
.about_title {
  color: rgb(58, 108, 244);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem;
}

.about_div {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 50px;
}

.img-card {
  padding: 1rem;

  border-width: 3px;
  border-style: solid;
  border-color: rgb(228, 226, 226);
  border-image: initial;
  border-radius: 12px;
}

.img-card img {
  background-position: center;
  width: 20vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
}

.right-content {
  width: 40vw;
  margin: auto;
}

.content-title {
  margin: 50px;
  margin: 15px 0;
  font-size: 2rem;
  font-weight: 800;
}

.content-text {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 25px;
}

@media only screen and (max-width: 800px) {
  #about {
    padding: 1rem;
  }
  .about_div {
    flex-direction: column;
  }
  .img-card img {
    width: 100%;
  }
  .right-content{
    width: 90vw;
  }
}
